.board {
    box-shadow: 0 1.5rem 7rem hsla(0, 0%, 0%, 0.36);
    margin-right: var(--medium);
    background-color: var(--primary-color);
    border: 0.8rem solid var(--primary-color);
    border-radius: 1rem;
    height: 100%;
}

.cell {
    background-color: var(--primary-lighter);
    border: 0.08rem solid var(--primary-color)
}

.snakeCell {
    margin: 0;
}

.row {
    display: flex;
}

.foodCell {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banana {
    background-image: url("../../../../images/foods/banana.png");
}

.apple {
    background-image: url("../../../../images/foods/apple.png");
}

.pineapple {
    background-image: url("../../../../images/foods/pineapple.png");
}

.cherries {
    background-image: url("../../../../images/foods/cherries.png");
}

.mango {
    background-image: url("../../../../images/foods/mango.png");
}

.orange {
    background-image: url("../../../../images/foods/orange.png");
}

.lemon {
    background-image: url("../../../../images/foods/lemon.png");
}

.watermelon {
    background-image: url("../../../../images/foods/watermelon.png");
}


.snakeCell {
    border-radius: 0.3rem;
}
