.board {
    box-shadow: 0 15px 60px hsla(0, 0%, 0%, 0.36);
    margin-right: var(--medium);
    background-color: rgb(15, 136, 15);
    border: 12px solid rgb(15, 136, 15);
    border-radius: 20px;
}

.cell {
    background-color: var(--primary-color);
    margin: 1px;
}

.snakeCell {
    margin: 0;
}

.row {
    display: flex;
}

.foodCell {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banana {
    background-image: url("../../../../images/foods/banana.png");
}

.apple {
    background-image: url("../../../../images/foods/apple.png");
}

.pineapple {
    background-image: url("../../../../images/foods/pineapple.png");
}

.cherries {
    background-image: url("../../../../images/foods/cherries.png");
}

.mango {
    background-image: url("../../../../images/foods/mango.png");
}

.orange {
    background-image: url("../../../../images/foods/orange.png");
}

.lemon {
    background-image: url("../../../../images/foods/lemon.png");
}

.watermelon {
    background-image: url("../../../../images/foods/watermelon.png");
}


.snakeCell {
    border-radius: 4px;
}