.active {
    box-shadow: 0 6px 12px hsla(0, 0%, 0%, 0.30);
    background-color: var(--secondary-color);
}

.inactive {
    position: relative
}

/*https://stackoverflow.com/a/14283366/18631517*/
.inactive:after {
    position: absolute;
    left: -10%;
    top: 50%;
    height: 2px;
    background: #000000;
    content: "";
    width: 120%;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 8px;
}

.square {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.food {
    font-size: 130%;
    font-weight: bold;
    margin-right: 8px;
}