.active {
    box-shadow: 0 0.3rem 1rem var(--secondary-darker);
    background-color: var(--secondary-lightest);
}

.inactive {
    position: relative
}

/*https://stackoverflow.com/a/14283366/18631517*/
.inactive:after {
    position: absolute;
    left: -10%;
    top: 50%;
    height: 0.2rem;
    background: var(--secondary-darker);
    content: "";
    width: 120%;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 1.6rem;
    border-radius: 8px;
    color: var(--secondary-darkest);
    font-size: 140%;
    padding: 0.4rem;
}

.square {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.4rem;
    margin-right: 0.4rem;
}

.food {
    font-size: 130%;
    font-weight: bold;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.highest {
    margin-left: 1rem;
    font-size: 80%;
}