.container {
    max-height: 100%;
    overflow: auto;
}

.depiction {
    max-width: 150px;
    max-height: 150px;
}

.description {
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 10px;
}
