.container {
    max-height: 100%;
    overflow: auto;
    margin-right: var(--larger);
    margin-left: var(--larger);
}

.depiction {
    max-width: 12rem;
    max-height: 10rem;
}

.description {
    font-size: 130%;
    font-weight: bold;
    padding-bottom: var(--larger);
}
