.container {
    max-height: 100%;
    overflow: auto;
}

.depiction {
    max-width: 12rem;
    max-height: 10rem;
}

.description {
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 2rem;
}
