:root {
    --primary-lightest: #81dc81;
    --primary-lighter: #51a951;
    --primary-color: #0F880FFF;
    --primary-darker: #006400;
    --primary-darkest: #003d00;
    --secondary-lightest: #ececec;
    --secondary-lighter: #adadad;
    --secondary-color: #858585;
    --secondary-darker: #5d5d5d;
    --secondary-darkest: #3d3d3d;
    --background-fill: #B1BA90;
    --medium: 20px;
}


.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
}

.App:before {
    content: "";
    background-image: url("./images/background-lighter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}